:root {
  --page-width: 85%;

  --background-colour: #27292d;
  --accent-colour: #ff184c;
  --header-colour: #17191c;
  --text-colour: #f3f3f3;
  --default-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.75);
}

* {
  padding: 0;
  margin: 0;

  font: 15px 'Nunito Sans', sans-serif;
}

body {
  background-color: var(--background-colour);
  color: var(--text-colour);
}

h1 {
  display: inline-block;
  font: bold 32px 'Work Sans', sans-serif;
}

h2 {
  display: inline-block;
  background-color: var(--text-colour);
  color: var(--background-colour);
  font: bold 32px 'Work Sans', sans-serif;
  padding: 10px;
}

.title {
  background-color: var(--header-colour);
  padding: 15px 0px 10px 0px;
  border-bottom: 6px solid var(--accent-colour);
  box-shadow: var(--default-shadow);
}

.content {
  width: var(--page-width);
  margin: auto;
}

.contact {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-top: 5px;
}

.contact li {
  margin-left: 5px;
}

.socialbutton.fa {
  padding: 6px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: var(--default-shadow);
  transition: filter 100ms;
}

.socialbutton.fa-linkedin {
  background: #007bb5;
  color: white;
}

.socialbutton.fa-twitter {
  background: #55ACEE;
  color: white;
}

.socialbutton.fa-github {
  background: #24292e;
  color: white;
}

.socialbutton.fa:hover {
  filter: brightness(130%) contrast(90%);
}

.project {
  flex-grow: 1;
  width: 45%;
  margin: 32px 2% 16px 2%;
  min-width: 400px;
}

.bigproject {
  flex-grow: 2;
  width: 100%;
}

.project img {
  width: 100%;
  height: auto;
}

.project-container {
  display: flex;
  flex-flow: wrap;
  align-items: stretch
}

.project h2 {
  padding: 10px 64px 6px 64px;
  margin-bottom: 10px;
  box-shadow: var(--default-shadow);

  border-bottom: 4px solid var(--accent-colour);
}

.bigproject h2 {
  padding: 10px 128px 6px 128px;
}

.project-header {
  display: flex;
  justify-content: center;
}

.project-footer{
  display: flex;
  justify-content: flex-end;
  border-bottom: 4px solid var(--accent-colour);
  width: 100%;
}

.button-wrapper{
  display: flex;
  justify-content: flex-end;
}

.project-footer .default-button {
  margin-left: 16px;
}

.default-button {
  background-color: var(--header-colour);
  padding: 8px 32px;
  margin-bottom: 10px;
  text-decoration: none;
  color: var(--text-colour);
  transition: filter 100ms;
}

.default-button:hover {
  filter: brightness(130%);
}

.footer {
  margin-bottom: 48px;
}
